/* LoadingPage.module.css */

.loadingWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; /* horizontal center */
  align-items: center;     /* vertical center */
  background-color: #08090A;  /* optional, for white cubes to show */
}

.skCubeGrid {
  width: 130px;
  height: 130px;
  display: flex;
  flex-wrap: wrap;
}

/* .skCubeGrid {
  width: 150px;
  height: 150px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
} */

.skCube {
  width: 33%;
  height: 33%;
  background-color: #EDF2FB;
  animation: skCubeGridScaleDelay 1.3s infinite ease-in-out;
}

.skCube1 { animation-delay: 0.2s; }
.skCube2 { animation-delay: 0.3s; }
.skCube3 { animation-delay: 0.4s; }
.skCube4 { animation-delay: 0.1s; }
.skCube5 { animation-delay: 0.2s; }
.skCube6 { animation-delay: 0.3s; }
.skCube7 { animation-delay: 0s; }
.skCube8 { animation-delay: 0.1s; }
.skCube9 { animation-delay: 0.2s; }

@keyframes skCubeGridScaleDelay {
  0%, 70%, 100% {
    transform: scale3D(1, 1, 1);
  }
  35% {
    transform: scale3D(0, 0, 1);
  }
}
